
.about{
    background-color: #1abc9c;
    color: white;
  }

  .starAbout:before{
    content: '';
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 8px;
    left: 52%;
    width: 13%;
  
  }
  
  .starAbout:after{
    content: '';
    position: absolute;
    border-bottom: 4px solid white;
    bottom: 8px;
    right: 52%;
    width: 13%
  }