
.home{
    background-color: #1abc9c;
    color: white;
  }

  .star:before{
    content: '';
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 8px;
    left: 65%;
    width: 35%;
  
  }
  
  .star:after{
    content: '';
    position: absolute;
    border-bottom: 4px solid white;
    bottom: 8px;
    right: 65%;
    width: 35%;
  }